@import "./main.scss";
@import "./header.scss";
@import "./footer.scss";

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightgoldenrodyellow;
  height: 100vh;
  margin: 0;
}
